<!-- 
Name: Dawoud Husain
Date: Dec.20, 2021
Description: HTML page for added a single employee
 -->
 
{% from "showlinks.html" import show_links, showsocialmedialinks %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>EMS LOGIN</title>
  
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Landing Page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Dawoud-Husain">
  
     <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'logo-alt.png')}}" />
    
     <!-- PLUGINS CSS STYLE -->
     <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
     <!-- CUSTOM CSS -->
     <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
     
  
  </head>
  
  
      <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
  
        <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
          <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename = 'logo-alt.png')}}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
  
                {%if user%}
                <li class="nav-item @@Name">
                  <a class="nav-link">Welcome Back {{user['name']}}</a>
                </li>
  
               
                {% endif %}
  
                
  
            <li class="nav-item @@home">
              <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
              </li>
                <li class="nav-item @@about">
                  <a class="nav-link" href="{{url_for('addnewemployee')}}">Add New Employee</a>
                </li>
               
  
             
              </ul>
            </div>
          </div>
        </nav>
        
        <br><br>

        <div class="child child6 container">
           
            <div class="centercontent">
                <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{url_for('static', filename = 'id-photo.png')}}" class="img-fluid rounded-start" alt="employee image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title">Employee Details.</h3>
                          {% if single_emp %}
                          <ul class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Full Name : {{single_emp['name']}}</div>
                              </div>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Email ID :  {{single_emp['email']}}</div>
                                </div>
                           
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Phone :  {{single_emp['phone']}}</div>
                                </div>
                           
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Address :  {{single_emp['address']}}</div>
                                    </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Joining Date :  {{single_emp['joining_date']}}</div>
                                </div>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Project Handled</div>
                                  Websites and Mobile Apps.
                                </div>
                                <span class="badge bg-success rounded-pill">{{single_emp['total_projects']}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Test Cases</div>
                                  Total test case written and reviewed
                                </div>
                                <span class="badge bg-info rounded-pill">{{single_emp['total_test_case']}} </span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Defects</div>
                                  Total defects found and rectified so far.
                                </div>
                                <span class="badge bg-warning rounded-pill">{{single_emp['total_defects_found']}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Total Defects Pending</div>
                                  Total defects pending for next release.
                                </div>
                                <span class="badge bg-danger rounded-pill">{{single_emp['total_defects_pending']}}</span>
                              </li>
                          </ul>
                          {% endif %}
                          <p class="card-text"><small class="text-muted">Last updated on : </small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

 
        <!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="{{url_for('static', filename = 'home.html')}}"><img src="{{url_for('static', filename = 'logo-alt.png')}}" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/dawoud-husain/"><i class="ti-linkedin"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/Dawoud-Husain/"><i class="ti-github"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html"><i class="ti-globe"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="https://github.com/Dawoud-Husain/Employee-Manager">Open Source Code</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Sign-Up</a></li>
              <li><a href="sign-in.html">Login</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>author</h6>
            <!-- links -->
            <ul>
              <li><a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">About</a></li>
              <li><a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Contact</a></li>
            </ul>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Dawoud Husain</a></small class="text-secondary">
  </div>

	<div class="text-center bg-dark py-1">
   <small> <p>Distributed By <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Dawoud Husain</a></p></small class="text-secondary">
  </div>
</footer>


   
</body>
</html>