{% from "showlinks.html" import show_links, showsocialmedialinks %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>EMS LOGIN</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Landing Page">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Dawoud-Husain">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'logo-alt.png')}}" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">

</head>


    <body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

      <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename = 'logo-alt.png')}}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

              {%if user%}
              <li class="nav-item @@Name">
                <a class="nav-link">Welcome Back {{user['name']}}</a>
              </li>

             
              {% endif %}

              

          <li class="nav-item @@home">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
              <li class="nav-item @@about">
                <a class="nav-link" href="{{url_for('addnewemployee')}}">Add New Employee</a>
              </li>
             

           
            </ul>
          </div>
        </div>
      </nav>
      
      <br><br>

        <div class="child child6 container" style="color:rgb(0, 75, 93);">
            
              <div class="table-responsive-lg caption-top">
                <caption><h3>UPDATE EMPLOYEES</h3></caption>
                 <hr>
                 {% if single_emp%}
                <form class="p-3" action="/updateemployee" method="POST">
                    
                   
                  <div class="mb-2">
                    <label for="empid" class="form-label">EMP ID</label>
                    <input type="text" class="form-control" id="empid" value= "{{single_emp['empid']}}" name = "empid" readonly >
                  </div>

                    <div class="mb-2">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" value= "{{single_emp['name']}}" name = "name" >
                    </div>
                    <div class="mb-2">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" value= "{{single_emp['email']}}" name = "email" >
                    </div>
                    <div class="mb-2">
                        <label for="name" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" value= "{{single_emp['phone']}}" name = "phone" >
                      </div>
                      <div class="mb-2">
                        <label for="email" class="form-label">Address</label>
                        <input type="text" class="form-control" id="phone" value= "{{single_emp['address']}}" name = "address" >
                      </div>
                      {%endif%}
            <button type="submit" class="btn text-light m-3" style="background-color:rgb(0, 75, 93);">Update Employee</button>
                  </form>
              </div>
        </div>

        <div class="child child6right">
            <div class="circledivright">
                <div class="circleright">
                </div>
            </div>
        </div>
 
      
      <br><br><br><br><br><br><br>
      <!--============================
      =            Footer            =
      =============================-->
      <footer>
        <div class="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                <div class="block">
                  <a href="{{url_for('static', filename = 'home.html')}}"><img src="{{url_for('static', filename = 'logo-alt.png')}}" alt="footer-logo"></a>
                  <!-- Social Site Icons -->
                  <ul class="social-icon list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/dawoud-husain/"><i class="ti-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/Dawoud-Husain/"><i class="ti-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html"><i class="ti-globe"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <!-- heading -->
                  <h6>Product</h6>
                  <!-- links -->
                  <ul>
                    <li><a href="https://github.com/Dawoud-Husain/Employee-Manager">Open Source Code</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <!-- heading -->
                  <h6>Resources</h6>
                  <!-- links -->
                  <ul>
                    <li><a href="sign-up.html">Singup</a></li>
                    <li><a href="sign-in.html">Login</a></li>
                    
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <!-- heading -->
                  <h6>author</h6>
                  <!-- links -->
                  <ul>
                    <li><a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">About</a></li>
                    <li><a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="text-center bg-dark py-4">
          <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Dawoud Husain</a></small class="text-secondary">
        </div>
      
        <div class="text-center bg-dark py-1">
         <small> <p>Distributed By <a href="https://dawoud-husain.github.io/Portfolio-Website-Dawoud-Husain/index.html">Dawoud Husain</a></p></small class="text-secondary">
        </div>
      </footer>
  </body>
</html>